<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Basico Platzi</title>
</head>
<body>
    <div id="app">

        <h1> {{nom}}</h1>
        
        <a v-if ="view" :href="url" target="_blank" rel="noopener noreferrer"> {{button}}</a>




        <form @submit.prevent="submit" action="" method="get">
            <h2>¿Cuáles son tus cursos favoritos?</h2>
            <input v-model="cursos" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de Vue.js</label>
            <input v-model="cursos" type="checkbox" id="seo" value="seo">
            <label for="seo">Curso de SEO</label>
            <input v-model="cursos" type="checkbox" id="react" value="react">
            <label for="react">Curso de React y Redux</label>
            <input v-model="cursos" type="checkbox" id="growth" value="growth">
            <label for="growth">Curso de Growth Marketing</label>
            <button type="submit">Enviar</button>
            <button type="button" @click = 'setear'>Enviar</button>
          </form>


    </div>
</body>
<script src="../lib/vue.js"></script>

<script>

    let app = new Vue(
        {
            el:'#app',
            data:{
                nom: 'Hola marcelo',
                url: 'http://www.google.com',
                button: 'Enlace a Google',
                view : true,
                cursos:[]
            },


            methods:{

                submit : function(){

                    console.log('prueba de submit');
                },

                setear(){


                    alert('esto tambien funciona asi....');
                }


            }

        }

    );
</script>
</html>